body {
    background-color: rgb(25, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.border-top {
    background-color: rgb(40, 40, 40);
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end; /* Positioniert die Buttons nach rechts */
    align-items: center;
    padding-right: 30px; /* Abstand zum rechten Rand */
    z-index: 1;

}
.border-top p {
    right: 1%;
    position: fixed;
    color: white;
    cursor: pointer;
}

.border-top img {
    width: 40px;
    height: 40px;
    position: fixed;
    left: 1%;
}
.border-top img:hover {
    cursor: pointer;
}
.border-top form {
    position: fixed;
    left: 5%;
    top: 2%;
}

.dropdown-container {
    display: flex; /* Flexbox-Container */
    gap: 30px; /* Abstand zwischen den Dropdown-Menüs */
}

.dropdown {
    position: relative; /* Relativ positionieren, um absolute Positionierung der Menüs zu ermöglichen */
}

.dropdown-btn {
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-btn:hover + .dropdown-menu{
    display: block;
}
.dropdown:hover .dropdown-menu {
    display: block; /* Menü anzeigen, wenn Hover über Dropdown */
}
.dropdown:hover .dropdown-btn {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 90%;
    left: 0;
    padding: 5px;
    width: 100px;
    background-color: rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-menu {
    display: block; /* Menü anzeigen, wenn Hover über Dropdown */
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 0;
}

.dropdown-menu a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Ändere dies auf relative */
    top: 70px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.container div {
    display: flex;
    flex-wrap: wrap; /* Elemente umbrechen, wenn kein Platz mehr da ist */
    justify-content: center; /* Zentriert die Elemente horizontal */
    align-items: center; /* Zentriert die Elemente vertikal */
    gap: 30px; /* Abstand zwischen den Elementen */
    text-align: center;
}
.container div .produkt {
    display: flex; /* Aktiviert Flexbox */
    flex-direction: column; /* Stapelt die Inhalte vertikal */
    align-items: center; /* Zentriert die Inhalte horizontal */
    justify-content: center; /* Zentriert die Inhalte vertikal */
    border-radius: 10px;
    width: 250px;
    height: 250px;
    text-align: center;
    border: 1px solid white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 10px 10px 15px rgba(187, 0, 255, 0.5);
}
.container div .produkt:hover {
    box-shadow: 6px 6px 11px rgba(187, 0, 255, 0.5); /* Weniger Schatten */
    transform: translateY(2px); /* Leichtes Drücken nach unten */
}
.container div .produkt img {
    height: auto;
    cursor: pointer;
    width: 240px;
}
.container div .produkt p {
    margin: 0;
    cursor: pointer;
}

.topnav {
    display: flex;
    justify-content: flex-start; /* Links ausrichten */
    align-items: center;
    gap: 20px; /* Abstand zwischen den Links */
    position: absolute; /* Damit wir die genaue Position steuern können */
    left: 43%; /* Abstand vom linken Rand (anpassen nach Bedarf) */
}


.topnav a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 17px;
    background-color: transparent;
    border-radius: 5px;
}

.topnav a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Hellerer Hover-Effekt */
}
.topnav a.active {
    background-color: rgba(20, 20, 20, 1); /* Grüner Hintergrund für aktiven Link */
    color: white;
}



.btn {
    font-size: 20px;
    color: white;
    background-color: rgba(40, 40, 40, 1);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px; /* Abstand zwischen dem Text und dem Button */
}

.btn:hover {
    background-color: rgba(60, 60, 60, 1);
}





a {
    color: white;
    text-decoration: none;
    display: block;
}
